Lab4/Lab4-1-flow.json
[{"id":"85c800b3.86fdd","type":"tab","label":"lab4","disabled":true,"info":""},{"id":"3e21a8df.e27fd8","type":"inject","z":"85c800b3.86fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["ae03fec8.151f6"]]},{"id":"ae03fec8.151f6","type":"Application","z":"85c800b3.86fdd","name":"","platform":"ee96f71.80fd208","name1":"1236025d.e86ece","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"DCNLab"}],"cntInstance":"","x":330,"y":120,"wires":[["b0241432.7ef4c8"]]},{"id":"b0241432.7ef4c8","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"4f447b1a.cbd514","type":"Container","z":"85c800b3.86fdd","name":"","platform":"ee96f71.80fd208","name1":"1236025d.e86ece","viewtype":"DATA","viewunid1":"","x":320,"y":180,"wires":[["5198c478.fd13bc"]]},{"id":"22fbdff5.44628","type":"inject","z":"85c800b3.86fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["4f447b1a.cbd514"]]},{"id":"5198c478.fd13bc","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"28a47197.9b88be","type":"ContentInstance","z":"85c800b3.86fdd","name":"","platform":"ee96f71.80fd208","name1":"1236025d.e86ece","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"1"},{"type":"str","label":"longitude","value":"2"}],"x":340,"y":240,"wires":[["24ce8980.a0a1c6"]]},{"id":"b3880d7b.f26de","type":"inject","z":"85c800b3.86fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["28a47197.9b88be"]]},{"id":"24ce8980.a0a1c6","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"20bc0d4c.ef5b02","type":"http in","z":"85c800b3.86fdd","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["41224fb.e33a5b","dd7eafec.0f85f"]]},{"id":"b8ce428d.2d445","type":"http response","z":"85c800b3.86fdd","name":"","statusCode":"","headers":{},"x":470,"y":300,"wires":[]},{"id":"c1affcb3.fa4ec","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"41224fb.e33a5b","type":"xml","z":"85c800b3.86fdd","name":"","property":"payload","attr":"","chr":"","x":230,"y":460,"wires":[["8148828a.6927b"]]},{"id":"8148828a.6927b","type":"switch","z":"85c800b3.86fdd","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["b8ce428d.2d445"],["3a41157e.fda1ea"]]},{"id":"3a41157e.fda1ea","type":"function","z":"85c800b3.86fdd","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":460,"wires":[["a8993e27.794f7"]]},{"id":"a8993e27.794f7","type":"xml","z":"85c800b3.86fdd","name":"","property":"payload","attr":"","chr":"","x":590,"y":460,"wires":[["724a47c1.b20168"]]},{"id":"724a47c1.b20168","type":"function","z":"85c800b3.86fdd","name":"","func":"var New = {latitude:null,longitude:null};\nNew.latitude = msg.payload.obj.str[0].$.val;\nNew.longitude = msg.payload.obj.str[1].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":460,"wires":[["c1affcb3.fa4ec"]]},{"id":"2c8a0d7a.7dda22","type":"http in","z":"85c800b3.86fdd","name":"","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["8fde778c.961248"]]},{"id":"8fde778c.961248","type":"function","z":"85c800b3.86fdd","name":"","func":"/*jshint multistr: true */\nvar data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n            \t<cnf>message</cnf>\\\n                \t<con>\\\n                \t  &lt;obj&gt;\\\n                \t\t&lt;str name=&quot;latitude&quot; val=&quot;'+msg.payload.latitude+'&quot;/&gt;\\\n                \t\t&lt;str name=&quot;longitude&quot; val=&quot;'+msg.payload.longitude+'&quot;/&gt;\\\n                \t  &lt;/obj&gt;\\\n    \t            </con>\\\n            </m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":540,"wires":[["5d156337.ffc6fc"]]},{"id":"2e93c4e7.dc7b2c","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":540,"wires":[]},{"id":"de05767d.c6c2a8","type":"http response","z":"85c800b3.86fdd","name":"","statusCode":"","headers":{},"x":690,"y":580,"wires":[]},{"id":"5d156337.ffc6fc","type":"http request","z":"85c800b3.86fdd","name":"post to mn-cse","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/LOCATION_GATEWAY_APPLICATION/DATA","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":540,"wires":[["2e93c4e7.dc7b2c","de05767d.c6c2a8"]]},{"id":"9e257857.158068","type":"inject","z":"85c800b3.86fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":620,"wires":[["75b12da8.d2c244"]]},{"id":"3fb03c85.53a1d4","type":"debug","z":"85c800b3.86fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"75b12da8.d2c244","type":"Subscription","z":"85c800b3.86fdd","name":"","platform":"ee96f71.80fd208","sensor":"1236025d.e86ece","container":"DATA","path":"http://localhost:1880/monitor","x":410,"y":620,"wires":[["3fb03c85.53a1d4"]]},{"id":"dd7eafec.0f85f","type":"http response","z":"85c800b3.86fdd","name":"","statusCode":"","headers":{},"x":230,"y":300,"wires":[]},{"id":"ee96f71.80fd208","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"1236025d.e86ece","type":"AE","z":"","appId":"LOCATION_GATEWAY_APPLICATION"}]