Lab4/Lab4-2-flow.json
[{"id":"f9f5937d.f1082","type":"tab","label":"lab4-2","disabled":false,"info":""},{"id":"b3df2287.98cb2","type":"inject","z":"f9f5937d.f1082","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":60,"wires":[["4aaa98c6.6c5298"]]},{"id":"4aaa98c6.6c5298","type":"Application","z":"f9f5937d.f1082","name":"","platform":"344591c6.6e883e","name1":"82cb3c3f.ece46","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"DCNLab"}],"cntInstance":"","x":520,"y":60,"wires":[["8a9144e8.3e72c8"]]},{"id":"8a9144e8.3e72c8","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":60,"wires":[]},{"id":"6aa9ef55.b9fca","type":"Container","z":"f9f5937d.f1082","name":"","platform":"344591c6.6e883e","name1":"82cb3c3f.ece46","viewtype":"DATA","viewunid1":"","x":520,"y":140,"wires":[["15b43d30.095e53"]]},{"id":"e8921a11.6cf128","type":"inject","z":"f9f5937d.f1082","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":140,"wires":[["6aa9ef55.b9fca"]]},{"id":"15b43d30.095e53","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":140,"wires":[]},{"id":"8e4cfce7.46fd9","type":"ContentInstance","z":"f9f5937d.f1082","name":"","platform":"344591c6.6e883e","name1":"82cb3c3f.ece46","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"22.09999"},{"type":"str","label":"longitude","value":"120.22099"}],"x":510,"y":200,"wires":[["efa7bbfb.8840b8"]]},{"id":"9c50ba0f.b41b78","type":"inject","z":"f9f5937d.f1082","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":200,"wires":[["8e4cfce7.46fd9"]]},{"id":"efa7bbfb.8840b8","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":200,"wires":[]},{"id":"4d60407d.e1905","type":"inject","z":"f9f5937d.f1082","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":260,"wires":[["7e32da1e.7caf84"]]},{"id":"3dafd33f.9343bc","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":260,"wires":[]},{"id":"7e32da1e.7caf84","type":"Subscription","z":"f9f5937d.f1082","name":"","platform":"344591c6.6e883e","sensor":"82cb3c3f.ece46","container":"DATA","path":"http://localhost:1880/monitor","x":520,"y":260,"wires":[["3dafd33f.9343bc"]]},{"id":"68c8797f.9cfbe8","type":"http in","z":"f9f5937d.f1082","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":230,"y":340,"wires":[["5a426f84.a49d6"]]},{"id":"3d6e90b2.affff","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"a6d3dd2e.339fb","type":"http response","z":"f9f5937d.f1082","name":"","statusCode":"","headers":{},"x":810,"y":460,"wires":[]},{"id":"5a426f84.a49d6","type":"http request","z":"f9f5937d.f1082","name":"get from in-cse","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/in-cse/in-name/IN_LOCATION/DATA/la","tls":"","persist":false,"proxy":"","authType":"basic","x":260,"y":420,"wires":[["51e21c9c.a68ee4"]]},{"id":"51e21c9c.a68ee4","type":"xml","z":"f9f5937d.f1082","name":"","property":"payload","attr":"","chr":"","x":450,"y":340,"wires":[["110c1f3b.3ceab1","9ae8217f.4a8af"]]},{"id":"9ae8217f.4a8af","type":"function","z":"f9f5937d.f1082","name":"","func":"msg.payload=msg.payload[\"m2m:cin\"].com[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["4f954a28.bdc434"]]},{"id":"4f954a28.bdc434","type":"xml","z":"f9f5937d.f1082","name":"","property":"payload","attr":"","chr":"","x":590,"y":400,"wires":[["85869c03.7ceb4"]]},{"id":"85869c03.7ceb4","type":"function","z":"f9f5937d.f1082","name":"","func":"msg.payload=\"{latitude:\" + msg.payload.obj.str[0].$.val + \", longitude:\" + msg.payload.obj.str[1].$.val + \"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":460,"wires":[["a6d3dd2e.339fb","3d6e90b2.affff"]]},{"id":"110c1f3b.3ceab1","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"a2e7db46.1e3d48","type":"http in","z":"f9f5937d.f1082","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":170,"y":660,"wires":[["b0ad9cae.59fd9","f4bba2df.e6c03"]]},{"id":"ea20dc6b.5a812","type":"http response","z":"f9f5937d.f1082","name":"","statusCode":"","headers":{},"x":510,"y":580,"wires":[]},{"id":"d88668b.9103898","type":"debug","z":"f9f5937d.f1082","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":640,"wires":[]},{"id":"b0ad9cae.59fd9","type":"xml","z":"f9f5937d.f1082","name":"","property":"payload","attr":"","chr":"","x":270,"y":740,"wires":[["45b8a1f1.f4523"]]},{"id":"45b8a1f1.f4523","type":"switch","z":"f9f5937d.f1082","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":640,"wires":[["ea20dc6b.5a812"],["ee15b236.13d63"]]},{"id":"ee15b236.13d63","type":"function","z":"f9f5937d.f1082","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":740,"wires":[["92a54a72.7d7368"]]},{"id":"92a54a72.7d7368","type":"xml","z":"f9f5937d.f1082","name":"","property":"payload","attr":"","chr":"","x":630,"y":740,"wires":[["9f318eb.7dca87"]]},{"id":"9f318eb.7dca87","type":"function","z":"f9f5937d.f1082","name":"","func":"var New = {latitude:null,longitude:null};\nNew.latitude = msg.payload.obj.str[0].$.val;\nNew.longitude = msg.payload.obj.str[1].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":740,"wires":[["d88668b.9103898"]]},{"id":"f4bba2df.e6c03","type":"http response","z":"f9f5937d.f1082","name":"","statusCode":"","headers":{},"x":270,"y":580,"wires":[]},{"id":"344591c6.6e883e","type":"xN_CSE","z":"","platform":"in-cse","URLBase":"http://127.0.0.1:8282/~/in-cse/in-name","user":"admin","password":"admin"},{"id":"82cb3c3f.ece46","type":"AE","z":"","appId":"IN_LOCATION"}]