Lab3/Lab3-flow.json
[{"id":"75e01a35.319794","type":"tab","label":"流程4","disabled":true,"info":""},{"id":"c18fd040.f3b43","type":"inject","z":"75e01a35.319794","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":140,"wires":[["818f623a.de301"]]},{"id":"8d2a5cba.d16d","type":"debug","z":"75e01a35.319794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"818f623a.de301","type":"Application","z":"75e01a35.319794","name":"","platform":"ee96f71.80fd208","name1":"f7090a78.28d308","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"location","value":"classroom"}],"cntInstance":"","x":470,"y":140,"wires":[["8d2a5cba.d16d"]]},{"id":"602ec69b.1c2898","type":"inject","z":"75e01a35.319794","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":200,"wires":[["1929324d.e6827e"]]},{"id":"4025e29e.3fd5ec","type":"debug","z":"75e01a35.319794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"1929324d.e6827e","type":"Container","z":"75e01a35.319794","name":"","platform":"ee96f71.80fd208","name1":"f7090a78.28d308","viewtype":"autre","viewunid1":"test_other","x":470,"y":200,"wires":[["4025e29e.3fd5ec"]]},{"id":"90f1425d.9c5cf","type":"ContentInstance","z":"75e01a35.319794","name":"","platform":"ee96f71.80fd208","name1":"f7090a78.28d308","container":"test_other","width":0,"options":[{"type":"str","label":"temperature","value":"66"},{"type":"bool","label":"valid","value":"True"}],"x":490,"y":260,"wires":[["7540beb6.e579e"]]},{"id":"be9cb6a2.038f28","type":"inject","z":"75e01a35.319794","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":260,"wires":[["90f1425d.9c5cf"]]},{"id":"7540beb6.e579e","type":"debug","z":"75e01a35.319794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":260,"wires":[]},{"id":"9d074ddd.1117b","type":"inject","z":"75e01a35.319794","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":320,"wires":[["b2f360b4.37963"]]},{"id":"7b1858ec.871cc8","type":"debug","z":"75e01a35.319794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"b2f360b4.37963","type":"Subscription","z":"75e01a35.319794","name":"","platform":"ee96f71.80fd208","sensor":"f7090a78.28d308","container":"test_other","path":"http://127.0.0.1:1880/monitor","x":470,"y":320,"wires":[["7b1858ec.871cc8"]]},{"id":"abb95b6b.fd5e98","type":"http in","z":"75e01a35.319794","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":310,"y":400,"wires":[["d1ae3bb5.5f53c8","132623db.96996c"]]},{"id":"2152e19e.dd5bbe","type":"http response","z":"75e01a35.319794","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"7f9b5deb.61a964","type":"debug","z":"75e01a35.319794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"d1ae3bb5.5f53c8","type":"xml","z":"75e01a35.319794","name":"","property":"payload","attr":"","chr":"","x":330,"y":460,"wires":[["23222c68.3f85e4"]]},{"id":"23222c68.3f85e4","type":"switch","z":"75e01a35.319794","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":460,"wires":[["2152e19e.dd5bbe"],["7ae10af1.b7fc84"]]},{"id":"7ae10af1.b7fc84","type":"function","z":"75e01a35.319794","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[["cf0012df.52eac"]]},{"id":"cf0012df.52eac","type":"xml","z":"75e01a35.319794","name":"","property":"payload","attr":"","chr":"","x":510,"y":560,"wires":[["5ab52f08.eb45c"]]},{"id":"5ab52f08.eb45c","type":"function","z":"75e01a35.319794","name":"","func":"var New = {temperature:null,vaild:null};\nNew.temperature = msg.payload.obj.str[0].$.val\nNew.vaild = msg.payload.obj.bool[0].$.val\nmsg.payload=New\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":560,"wires":[["7f9b5deb.61a964"]]},{"id":"132623db.96996c","type":"http response","z":"75e01a35.319794","name":"","statusCode":"","headers":{},"x":490,"y":380,"wires":[]},{"id":"ee96f71.80fd208","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"f7090a78.28d308","type":"AE","z":"","appId":"test_nodeAE"}]